html {
    box-sizing: border-box;
    height: 100%
}

body {
    margin: 0;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

#main_and_left_side_container {
    display: flex;
    flex-direction: row;
    height: auto;
}

#main_container {
    text-align: center;
    width: 100%;
    height: auto;
    left: 0;
    background-color: #f0f2f3;
    position: absolute;
    transition: left 0.4s;
}

#left_side_container {
    position: absolute;
    left: -50%;
    width: 50%;
    height: auto;
    background-color: #2c2c2c;
    transition: left 0.4s;
}

.button, #uk_flag {
    display: none;
}

#nav_bar {
    position: static;
    height: auto;
}

h1 {
    font-size: 14px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 6px;
    left: 16px;
}

#sidebar_button {
    font-size: 21px;
    font-weight: bold;
    background: transparent;
    border: none;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
    opacity: 0.2;
    position: absolute;
    top: 12px;
    right: 8px;
}

#nav_bar > ul {
    padding: 80px 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    color: white;
    border-top: 1px solid #333;
}

#nav_bar a {
    display: block;
    padding: 10px;
    font-size: 14px;
    color: #e74c3c;
    text-decoration: none;
    border-top: 1px solid #333;
}

#nav_bar a:hover {
    background-color: white;
}

#empty_navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 56px;
    position: relative;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 6%), 35px 35px 30px #d8dadb;
    display: flex;
}

#navbar_button {
    width: 14px;
    padding: 21px;
    background-color: #181818;
    cursor: pointer;
    line-height: 0px;
    padding-top: 18px;
}

#check {
    display: none;
}

label span {
    height: 1.5px;
    width: 100%;
    background: white;
    display: inline-block;
}

#photo_box_box_menu_container {
    box-shadow: 0 0 0 1px rgb(0 0 0 / 6%), 35px 35px 30px #d8dadb;
}

#photo_box {
    padding: 0% 0%;
    width: 100%;
    height: auto;
    position: relative;
}

#manufacturing_photo {
    max-width: 100%;
}

#photo_box_transparentbox {
    position: absolute;
    background:rgb(0 0 0 / 20%);
    left: 2%; right:0;
    top: 36%;
    width: 63%;
    font-size: 5.1vw;
    line-height: 5vw;
    font-weight: bold;
    color: white;
    margin: 0; padding: 0;
    height: auto;
    text-align: left;
    padding: 1.5%;
    
}

#photo_box_transparentbox a {
    color: #ff7302;
    font-size: 5.1vw;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    margin: 0; padding: 0;
    white-space: nowrap;
}

#photo_box_transparentbox a:hover {
color: #ffa902;
}

#box_menu {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    height: 908px;
    background: #262626;
    gap: 6px;

}

.box_menu_boxes {
    height: 150px;
    padding: 50px 20px 20px 20px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #fff;
    transition: outline 0.15s linear;
    position: relative;
}

.box_menu_boxes span {
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    color: #e1e7e8;
}

#machining_box {
    background: #b0b9be;
}
#machining_box:hover {
    outline: #afcea2 solid 10px; 
    z-index: 1;
}

#molding_box {
    background: #717075;
}

#molding_box:hover {
    outline: #e4d082 solid 10px; 
    z-index: 1;
}

#coating_box {
    background: #3a394a;
}

#coating_box:hover {
    outline: rgb(209, 115, 131) solid 10px; 
    z-index: 1;
}

#quote_box {
    background: #798790;
}

#quote_box:hover {
    outline: #798790 solid 10px; 
    z-index: 1;
}

.box_menu_mini_box {
    background: rgb(0 0 0 / 20%);
    width: fit-content;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    bottom: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    user-select: none;
}

@keyframes getin {
    from {left: 60px}
    to {left: 20px}
}

@keyframes getout {
    from {left: 20px}
    to {left: 60px}
}

#aboutus_box_text {
    text-align: left;
    font-size: 18.2px;
    font-weight: 300;
    color: #34404e;
    line-height: 26px;
    padding: 20px;
    background-color: white;
}

#aboutus_box a, #lead-sub-title a, .slide_divs #bottom_link a {
    color: #e74c3c;
    text-decoration: none;
}

#aboutus_we_manufacture_container, #aboutus_box {
    margin-top: 15px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 6%), 35px 35px 30px #d8dadb;
}

#aboutus_box #logo {
    display: block;
    width: 100%;
    padding: 0;
}

#aboutus_box_text span, .slide_divs #bottom_link a {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 2px;
    margin-top: 25px; 
}

#aboutus_box_text span a:hover, .slide_divs #bottom_link a:hover {
    color: #ddd;
}

#we_manufacture_box {
    height: 379px;
    background-color: white;
    margin-top: 15px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 6%), 35px 35px 30px #d8dadb;
    z-index: 1;
    padding: 20px;
    text-align: left;
    color: rgb(52,64,78);
}

#we_manufacture_box h2 {
    margin-top: 0;
}

#we_manufacture_title{
    font-size: 23px;
    font-weight: 400;
    display: block;
}

#lead-sub-title {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-top: 15px;
}

#we_manufacture_box h2 {
    position: relative;
}

#lower_than, #greater_than {
    font-size: 22px;
    font-weight: 400;
    color: rgb(192, 192, 192);
    width: 25px;
    height: 25px; 
    line-height: 22px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    user-select: none;
}

#lower_than {
    right: 26px; 
    transition: background-color, 0.5s; 
}

#greater_than {
    right: 0px;
    transition: background-color, 0.5s;
}

#lower_than_text, #greater_than_text {
    position: absolute;
    width: 100%;
    text-align: center;
}

#lower_than:hover, #greater_than:hover {
    background-color: #e74c3c;
}

#lower_than:hover > #lower_than_text {
    animation-name: slide_button_lower;
    animation-duration: 0.25s;
    animation-timing-function: ease-in; 
}

#greater_than:hover > #greater_than_text {
    animation-name: slide_button_greater;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
}

@keyframes slide_button_lower {
    from {right: 8px; opacity: 0;}
    to {right: 8px; opacity: 1;}
}

@keyframes slide_button_greater {
    from {right: 8px; opacity: 0;}
    to {right: 8px; opacity: 1;}
}

#we_manufacture_slide_container {
    height: 270px;
    margin-top: 40px;
    overflow: hidden;  
}

#we_manufacture_slide_container_inner {
    display: flex;
    flex-direction: row; 
}

.slide_divs {
   width: 241.5px;
   height: 270px;
   flex-shrink: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: left;
 }

.slide_divs  * {
    display: block; 
}

.slide_divs img {
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.slide_divs_top>:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    height: 35px;
    text-decoration: none;
    color: rgb(52,64,78);
    line-height: 35px;
    margin-left: 20px;
}

.slide_divs_top>:nth-child(3) {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-decoration: none;
    color: rgb(52,64,78);
    height: 25px;
    margin-left: 20px;
    margin-top: 0px;
}

.slide_divs #bottom_link {
    margin-left: 20px;
    margin-bottom: 0;
}
.slide_divs #bottom_link a {
    line-height: 26px;
    margin-top: 0;
}

#we_manufacture_slide_text {
    
}